@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

*{
  font-family: "Gilroy"; 
}

::selection{
  color: orange;
}

.footer-text{
  font-family: 'Shantell Sans', cursive;
}